body, div {
    margin: 0;
    overflow: hidden;
    background-color: black;
    color: white;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    
}

p {
    position: absolute;
    top: 0;
    left: 0;
}

video, img {
    position: absolute;
    width: 100%;
    height: auto;
}



@keyframes fadeIn {
    0% { opacity: 0; }
    10% { opacity: 0; }
    100% { opacity: 1; }
}

div {
    animation: fadeIn 4s; 
}



@media (max-aspect-ratio: 16/9) {
    video, img {
        width: auto;
        height: 100%;
    }
}